/*********************************************************
  GENERAL
*********************************************************/
body {
  margin: 0;
}

.navbar {
  margin-bottom: 0;
}

/* Episode title */
.cta-button {
  margin-top: 5px;
  margin-bottom: 10px;
}

/* Footer */
.connect-button {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  color: #444;
  opacity: .8;
  transition: .4s;
}

.connect-button:hover {
  text-decoration: none;
  color: #444;
  opacity: 1;
}

.list-inline li a {
  cursor: pointer;
}

.not-active {
  display: none;
}
